:root{
    --maincolor:#fecd89;
}
body,form,table {
    padding:0px
}
table tt{
    width:730px;
}


/*底部导航栏*/
.g-foot {
    z-index: 1000;
    position: fixed; left: 0;bottom: 0;
    width: 100%; height: 50px;line-height: 50px;
    background-color:#eeeeee;
 }
div.g-foot a:link,div.g-foot a:visited{
        font-size:2em;
	font-weight:bold;
        color:#fecd89;
	color:var(--maincolor);
	background-color:#eeeeee;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}


/* 导航栏 */
div.horizontal{	height:16px;}
div.horizontal ul{list-style-type:none;	margin:0;padding:0;	}
div.horizontal li{list-style-type:none;	float:left;	}
div.horizontal a{display:block;	width:86px;font-size:2em;}
div.horizontal a:link,div.horizontal a:visited{
	font-weight:bold;
    	color:#fecd89;
	color:var(--maincolor);
	background-color:#eeeeee;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
div.horizontal a:hover,div.horizontal a:active	{background-color:#ffffff;	}

/*search BOX*/
div.search {padding:10px 0;}
.bar6 input {
	border:2px solid var(--maincolor);
	border-radius:5px;
	background:transparent;
	top:0;
	right:0;
	height:40px;
	padding-left:13px;
	font-size:2em;
}
.bar6 button {
        background-color:#fecd89;
	background:var(--maincolor);
	border-radius:0 5px 5px 0;
	width:60px;
	top:0;
	right:0;
	cursor:pointer;
	position:absolute;
	font-size:2em;
}
.bar6 button:before {
	content:"搜索2";
	font-size:2em;
	color:#fecd89;
	color:var(--maincolor);
}

/*Product List*/
div.plist a {
    font-size:2em;
    color:#fecd89;
    color:var(--maincolor);
    padding:5px;
    text-decoration-line:none;
}
div.plist {
    text-align:left;
}
div.plist li{
    list-style:circle;
}